<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
  <link href="/styles/pref.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <form class="form" method="POST">
    <div class="form__row">
      <label for="name">Name</label>
      <select class="multi-select" name="name">
        <% names.forEach(name => { %>
          <option value="<%= name %>"><%= name %></option>
        <% }) %>
      </select>
    </div>
    <div class="form__row">
      <label for="towards">Would be a great table partner with me</label>
      <select class="multi-select" name="towards" multiple="multiple">
        <% names.forEach(name => { %>
          <option value="<%= name %>"><%= name %></option>
        <% }) %>
      </select>
    </div>
    <input type="submit" class="btn"></input>
  </form>
</body>
<script>
$(() => {
  $(".multi-select").select2();
});
</script>
</html>
