body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.main {
  display: flex;
}

td {
  width: 100px;
  height: 100px;
  
  
  margin: 0;
  padding: 0;
  
  background-color: white;
  transition: background-color 100ms;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;  
  
  &.clicked {
    background-color: #efefef;
  }
}
.grid--small {
  font-size: 20px;
}

tr {
  white-space: nowrap;
  display: inline-block;
}

table {
  padding-right: 100px;
}

.sidebar {
  flex: 1;

  overflow-y: scroll;
  height: 100vh;
}

.sidebar__row {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  
  &:nth-child(even) {
    background-color: #eee;
  }
}

.sidebar__title {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* {
  font-family: 'Roboto', sans-serif;
}
