body {
  margin: 0;
  padding: 25px;
  
  overflow: hidden;
}

td {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  
  background-color: white;
  transition: background-color 100ms;
  
  display: inline-block;
  font-size: 25px;  
}

td.clicked {
  background-color: #efefef;
}

td:hover {
  background-color: #eee;
  cursor: pointer;
}

tr {
  white-space: nowrap;
  display: inline-block;
}
